@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>

        Приложението да бъде web базирано на една от следните технологии (MVC Core,  Razor или Blazor), . NET 6

        Да поддържа база данни със служители и техните заплати.

        Приложението да има възможност за изчисление на нетна работна заплата на базата на въведена брутна заплата.

        Всички параметри, които участват в изчисленията да могат да се запазват в базата данни и да се използват многократно.

        Параметрите трябва да се поддържат на годишна база, т.е за всяка година могат да бъдат различни.

        Параметрите са: минималния праг, процент данък общ доход, процент здравни и социални осигуровки, максимален осигурителен праг

    <p>

        Приложението да работи със следните правила:

        •             Данъци за заплата по-малка или равна на минималния праг от 1000 лв. не се начислява.

        •             Данък общ доход от 10% за заплата над минималният праг.

        •             Здравни и социални осигуровки от 15% за сума по-голяма от минималния праг, като максималният осигурителен праг е 3000 лв.

    <p>
    <p>
        Пример 1

        Иван получава брутна заплата от 950 лв.

        Иван няма да има данък, защото заплатата не досега минималния праг от 1000 лв.

    <p>
    <p>

        Пример 2

        Петя получава брутна заплата от 3100лв.

        Данъкът на Петя е:

        10 % от 2100 = 210 лв.,

        15% от 2000 = 300 лв.

        Общо данъци 510 лв., нетна заплата 2590 лв.
    <p>


        Да се направят UnitTest, които да доказват коректността на изчисленията.

        Приложението да бъде качено в GitHub.



        Остава на разположение за въпроси по-задачата.
    </p>
</div>
